@media (max-width: 600px) {
  .bg{
      visibility:hidden;
  }
}

@media (min-width: 600px) and (max-width: 1024px){
  .moveDiv{
      font-size:15px;
      height:30px;
      padding:2.5px 5px;
      margin-bottom:10px;
      top:60px;
      width:400px;
  }
  .logo{
      width:80px;
  }
  .partnerBTN{
      width:100px;
      font-size:15px;
      margin-top:70px;
      margin-left:80px;
  }
}