            body{
                font-family: 'Dosis', sans-serif;
            }
            
            a:hover{
                text-decoration:none;
            }
            p{
                font-size:17px;
            }
            .nav{
                font-weight:200;
                font-size:23px;
            }
            
            .bg{
                background-image:url('../img/bigbg_bubble.png');
                background-size:100%;
                width:100%;
                height:500px;
                background-repeat:no-repeat;
            }
            
            .borderRadius10{
                border-radius: 10px 10px 10px 10px;
                -moz-border-radius: 10px 10px 10px 10px;
                -webkit-border-radius: 10px 10px 10px 10px;
                border: 0px solid #3053DF;
            }
            
            .move0{
                animation: design 3s;
                -webkit-animation: design 3s; /* Safari and Chrome */
            }
            .move1{
                animation: web 3s;
                -webkit-animation: web 3s; /* Safari and Chrome */
            }
            .move2{
                animation: online 3s;
                -webkit-animation: online 3s; /* Safari and Chrome */
            }
            .move3{
                animation: mobile 3s;
                -webkit-animation: mobile 3s; /* Safari and Chrome */
            }
            .move4{
                animation: backend 3s;
                -webkit-animation: backend 3s; /* Safari and Chrome */
            }
            
            .moveDiv
            {
                text-align:right;
                
                /*-webkit-animation-direction:alternate-reverse;*/
                /*-webkit-transition: -webkit-transform 3s;*/
                width:500px;
                font-size:25px;
                padding:5px 10px;
                height:50px;
                top:100px;
                font-weight:200;
                position:relative;
                margin-bottom:20px;
                -webkit-animation-fill-mode: forwards;
            }
            
            @keyframes design
            {
                0%   {background-color: rgba(0, 0, 0, 0);left:-180px;opacity:0.5;}
                100%  {background-color: rgba(36, 88, 122, 0.9); left:-90px;opacity:1;}
            }
            
            @-webkit-keyframes design /* Safari and Chrome */
            {
                0%   {background-color: rgba(0, 0, 0, 0);left:-200px;opacity:0.5;}
                100%  {background-color: rgba(36, 88, 122, 0.9); left:-90px;opacity:1;}
            }
            
            @keyframes web
            {
                0%   {background-color: rgba(0, 0, 0, 0);left:-200px;opacity:0.5;}
                100%  {background-color: rgba(10, 103, 163, 0.9); left:-130px;opacity:1;}
            }
            
            @-webkit-keyframes web /* Safari and Chrome */
            {
                0%   {background-color: rgba(0, 0, 0, 0);left:-200px;opacity:0.5;}
                100%  {background-color: rgba(10, 103, 163, 0.9); left:-130px;opacity:1;}
            }
            
            @keyframes online
            {
                0%   {background-color: rgba(0, 0, 0, 0);left:-200px;opacity:0.5;}
                100%  {background-color: rgba(101, 166, 209, 0.9); left:-160px;opacity:1;}
            }
            
            @-webkit-keyframes online /* Safari and Chrome */
            {
                0%   {background-color: rgba(0, 0, 0, 0);left:-200px;opacity:0.5;}
                100%  {background-color: rgba(101, 166, 209, 0.9); left:-160px;opacity:1;}
            }
            
            @keyframes mobile
            {
                0%   {background-color: rgba(0, 0, 0, 0);left:-200px;opacity:0.5;}
                100%  {background-color: rgba(3, 66, 106, 0.9); left:-30px;opacity:1;}
            }
            
            @-webkit-keyframes mobile /* Safari and Chrome */
            {
                0%   {background-color: rgba(0, 0, 0, 0);left:-200px;opacity:0.5;}
                100%  {background-color: rgba(3, 66, 106, 0.9); left:-30px;opacity:1;}
            }
            
            @keyframes backend
            {
                0%   {background-color: rgba(0, 0, 0, 0);left:-200px;opacity:0.5;}
                100%  {background-color: rgba(62, 151, 209, 0.9); left:-30px;opacity:1;}
            }
            
            @-webkit-keyframes backend /* Safari and Chrome */
            {
                0%   {background-color: rgba(0, 0, 0, 0);left:-200px;opacity:0.5;}
                100%  {background-color: rgba(62, 151, 209, 0.9); left:-30px;opacity:1;}
            }
            
            .logo{
                width:120px;
            }
            
            .sbutton {
            	position: relative;
                color: rgba(255,255,255,1);
                text-decoration: none;
                background-color: rgba(219,87,5,1);
                font-family: 'Dosis';
                font-weight: 400;
                font-size: 20px;
                display: block;
                padding: 4px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
                -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
                box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
            	text-align: center;
            	
            	-webkit-transition: all .1s ease;
            	-moz-transition: all .1s ease;
            	-ms-transition: all .1s ease;
            	-o-transition: all .1s ease;
            	transition: all .1s ease;
            }
            
            .sbutton:active {
                -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
                -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
                box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
                position: relative;
                top: 6px;
            }
            .partnerBTN{
                float:left;
                margin-top:100px;
                margin-left:200px;
                width: 120px;
                animation: sbtn 3s;
                -webkit-animation: sbtn 3s; /* Safari and Chrome */
                -webkit-animation-fill-mode: forwards;
            }
            .partnerBTN:hover{
                color: #37FC1D;
            }
            @keyframes sbtn
            {
                0%    { left:-180px;opacity:0.5;}
                100%  { left:-90px;opacity:1;}
            }
            
            @-webkit-keyframes sbtn /* Safari and Chrome */
            {
                0%   {opacity:0;}
                100%  {opacity:1;}
            }
            
            .title{
                font-family: 'Dosis', sans-serif;
            }

            .webContent:before, .webContent:after {
                display: table;
                content: " ";
            }
            
            .ourServices{
                width: 970px;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
            }
            @font-face
            {
            font-family: myFirstFont;
            src: url('../fonts/BTTTRIAL.ttf'),
                 url('../fonts/BTTTRIAL.otf'); /* IE9 */
            }
            .promo{
                font-family: myFirstFont;
                color: #fa5a53;
                font-size: 18pt;
            }
            